{% extends 'main/layout.html' %}

{% block title %}
    <title>Lessons</title>
{% endblock %}

{% block content %}
    <h1>Уроки</h1>
    <ul>
        {% for lesson in lessons %}
            <li>
                <div>{{ formatted_text|safe }}</div>
                <h2>{{ lesson.title }}</h2>
                
                <p>{{ lesson.description }}</p>
                {% if lesson.video %}
                    <video controls>
                        <source src="{{ lesson.video.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {% endif %}
                {% if lesson.audio %}
                    <audio controls>
                        <source src="{{ lesson.audio.url }}" type="audio/mpeg">
                        Your browser does not support the audio tag.
                    </audio>
                {% endif %}
                {% if lesson.image %}
                    <img src="{{ lesson.image.url }}" alt="{{ lesson.title }}" style="max-width: 100%; height: auto;">
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
