<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Навигация</title>
    {% load static %}  <!-- Подключаем тег static -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <!-- Навигационное меню -->
    <nav class="navbar">
        <div class="logo">
            <a href="/testmain">ZEIN</a>
        </div>
    <ul class="nav-links">
    <li><a href="{% url 'testmain' %}">Main</a></li>
{#    <li><a href="{% url 'lessons' %}">Lessons</a></li>#}






    <li><a href="{% url 'level_list' %}">Lessons</a></li>

    <li><a href="{% url 'words' %}">Vocabulary</a></li>
    <li><a href="{% url 'tasks' %}">Tasks</a></li>
{#    <li><a href="{% url 'login' %}">Login</a></li>#}
{#    <li><a href="{% url 'register' %}">Register</a></li>#}
{#            {% if user.is_authenticated %}#}
{#                <!-- Если пользователь авторизован, показываем имя и кнопку "Выйти" -->#}
{#                <span class="me-2">Hello {{ user.username }}!</span>#}
{#                <a href="{% url 'logout' %}" class="btn btn-outline-secondary">LogOut</a>#}
{#            {% else %}#}
{#                <a href="{% url 'login' %}" class="btn btn-danger me-2">LogIn</a>#}
{#                <a href="{% url 'register' %}" class="btn btn-warning">Register</a>#}
{#            {% endif %}#}
{#        {% if user.is_authenticated %}#}
{#    <!-- Если пользователь авторизован, показываем имя и кнопку "Выйти" -->#}
{#    <span class="user-greeting">Hello {{ user.username }}!</span>#}
{#    <a href="{% url 'logout' %}" class="btn logout-btn">LogOut</a>#}
{#{% else %}#}
{#    <a href="{% url 'login' %}" class="btn btn-danger me-2">LogIn</a>#}
{#    <a href="{% url 'register' %}" class="btn btn-warning">Register</a>#}
{#{% endif %}#}
{#        {% if user.is_authenticated %}#}
{#    <!-- Если пользователь авторизован, показываем имя и кнопку "Выйти" -->#}
{#    <span class="user-greeting">Hello {{ user.username }}!</span>#}
{#    <a href="{% url 'logout' %}" class="btn logout-btn">LogOut</a>#}
{#{% else %}#}
{#    <a href="{% url 'login' %}" class="btn login-btn me-2">LogIn</a>#}
{#    <a href="{% url 'register' %}" class="btn register-btn">Register</a>#}
{#{% endif %}#}
{% if user.is_authenticated %}
    <!-- Если пользователь авторизован, показываем имя и ссылку "Выйти" -->
    <span class="user-greeting">Hello {{ user.username }}!</span>
    <a href="{% url 'logout' %}" class="logout-link">LogOut</a>
{% else %}
    <a href="{% url 'login' %}" class="login-link me-2">LogIn</a>
    <a href="{% url 'register' %}" class="register-link">Register</a>
{% endif %}


    </ul>

    </nav>

    <!-- Контент страницы -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
